name: Deploy to EC2

on:
  # workflow_dispatch:
  push:
    branches:
      - main  

jobs:
  deploy:
    name: Push to EC2
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup SSH connection
        uses: appleboy/ssh-action@v1
        with:
          host: 13.61.186.163
          username: ubuntu
          key: ${{ secrets.PRIVATE_SSH_KEY }} 
          port: 22
          script: echo "Deploying to EC2" 