name: Test build and lint

on:
  push:
    branches:
      - main  

jobs:
  lint:
    name: Lint code
    runs-on: ubuntu-latest
    
    steps: 
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Test lint
        run: |
          npm install
          npm run lint

      # - name: Upload artifacts
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: node_modules
      #     path: node_modules/

  build:
    name: Build code
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # - name: Download artifacts
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: node_modules  

      - name: Build code
        run: |
          npm install
          npm run build 

